@model IEnumerable<AppPlanillasAlumnos.Models.DatosDeAdmision>

@*@{
        ViewBag.Title = "Index";
    }*@

<h2 class="text-center text-uppercase text-dark letratitulo ">Fichas de Admisión</h2>


<div class="row">
    <div class="col-12 col-md-4 EspaciadoBoton">
        <input id="buscar" type="text" class="form-control BarraBusqueda form-controlCorto achicarinputbuscar text-uppercase" autocomplete="off" autofocus placeholder="ESCRIBA AQUÍ PARA ACOTAR LA BUSQUEDA" />
    </div>
    <div class="col-auto">
        <button type="button" onclick="crear()" class="SombraBoton  TextoNegroBoton ColorCelesteBoton" data-toggle="modal" data-target="#ModalDatosAdmision">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu/contrato.png" class="icono-menu" />
            Crear
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="SombraBoton TextoNegroBoton ColorCelesteBoton" onclick="GenerarImpresion();">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu//impresora (2).png" class="icono-menu" />
            Imprimir Listado
        </button>
    </div>
    <div class="col-auto">
        <button class="SombraBoton ColorCelesteBoton boton-Info-Redondo" data-toggle="modal" data-target="#ModalInfoFichaAdmision">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu/informacion negro.png" class="icono-Informacion" />
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalInfoFichaAdmision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content-2">
            <div class="modal-header-2 ">
                <h5 class="modal-title text-white" id="exampleModalLabel">INFO. FICHAS DE ADMISIÓN</h5>
                <button type="button" class="CruzBlanca ubicacionCruz" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-2">
                <div class="cardfondoclaro tab-content">
                    <label class="control-label TextoNegroFormulario">Para poder crear una ficha de admisión se debe tener creado un profesional y un paciente</label>
                </div>

                <div class="modal-footer-2">
                    <button class="BotonVolver" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/regreso.png" class="icono-menu" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="ModalDatosAdmision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header-2">
                <h5 class="modal-title text-white" id="exampleModalLabel">FICHA DE ADMISION</h5>
                <button type="button" class="CruzBlanca" onclick="VaciarFormulario();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-2">
                <div class="cardfondoclaro">
                    <div class="row tab-content">
                        <input type="hidden" value="0" id="FichaID" class="form-control  form-control-rounded" />

                        <div class="col-12 col-lg-4">
                            <label class="control-label TextoNegroFormulario">Fecha</label>
                            <input type="date" id="Fecha" autocomplete="off" class="form-control  form-control-rounded" />
                            <label id="FechaValidacion" class="control-label ocultar validaciones">Escriba una Fecha correcta</label>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label class="control-label TextoNegroFormulario">Profesional que Deriva  <span class="rojo"> * </span></label>
                            <input type="hidden" id="ProfesionalID" name="ProfesionalID" value="0" />
                            <input id="ProfesionalNombre" autocomplete="off" class="form-control  form-control-rounded" onKeyUp="ControlarAutocompletadoProfesional()" onKeyDown="ControlarAutocompletadoProfesional()" style="text-transform:uppercase">
                            <label id="campo-obligatorio-profesionalID" class="control-label ocultar validaciones">* Campo Obligatorio</label>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label class="control-label TextoNegroFormulario">Paciente relacionado <span class="rojo"> * </span></label>
                            <input type="hidden" id="PacienteID" name="PacienteID" value="0" />
                            <input id="PacienteNombre"   autocomplete="off" class="form-control  form-control-rounded" onKeyUp="ControlarAutocompletadoPaciente()" onKeyDown="ControlarAutocompletadoPaciente()" style="text-transform:uppercase">
                            <label id="campo-obligatorio-pacienteID" class="control-label ocultar validaciones  ">* Campo Obligatorio</label>
                            <label id="PacienteExiste" class="control-label ocultar FondoValidaciones validaciones">Ya se encuentra Registrado este Paciente</label>
                        </div>
                        <div class="col-12 col-lg-5">
                            <label class="control-label TextoNegroFormulario">Persona que proporciona la informacion</label>
                            <input type="text" id="Parentesco" autocomplete="off" style="text-transform:uppercase" class="form-control form-control-rounded" />
                        </div>
                        <div class="col-12 col-lg-7">
                            <label class="control-label TextoNegroFormulario">descripción de la problematica o dificultad del niño</label>
                            <input type="text" id="DescripcionProblematica" autocomplete="off" style="text-transform:uppercase" class="form-control form-control-rounded" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <label class="control-label TextoNegroFormulario">Servicio solicitado</label>
                            <input type="text" id="Servicio" autocomplete="off" style="text-transform:uppercase" class="form-control form-control-rounded" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <label class="control-label TextoNegroFormulario">Relación con los demás (padres, hermanos, amigos, etc.)</label>
                            <input type="text" id="RelacionesDemas" autocomplete="off" style="text-transform:uppercase" class="form-control form-control-rounded" />
                        </div>
                        <div class="col-12 col-lg-12">
                            <label class="control-label TextoNegroFormulario">Observaciones</label>
                            <input type="text" id="Observaciones" autocomplete="off" style="text-transform:uppercase" class="form-control form-control-rounded" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer-2">
                    <button class="BotonCancelar-Modal" id="botoncancelar" onclick="VaciarFormulario();" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/cerrar.png" class="icono-menu" />
                    </button>
                    <button type="button" id="botonguardar" onclick="GuardarDatoAdmision();" class="BotonGuardar-Modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/salvar.png" class="icono-menu" />
                    </button>
                    <button class="ocultar BotonVolver " id="BotonVolver" onclick="VaciarFormulario();" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/regreso.png" class="icono-menu" />
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>

<table class="table table-bordered table-active table-hover" id="tabla">
    <thead class="letra">
        <tr class="tablaAzul">
            <th class="text-center text-white ocultar640">
                Fecha
            </th>
            <th class="text-white">
                Paciente
            </th>
            <th class="text-white ocultar860">
                Profesional que Deriva
            </th>
            <th class="text-center tdBotones"></th>
            <th class="text-center tdBotones"></th>
            <th class="text-center tdBotones"></th>
        </tr>
    </thead>

    <thead id="tbody-datosAdmision">
    </thead>

</table>

<table class="table table-bordered table-active table-hover" hidden id="tablahidden">
    <thead class="letra">
        <tr class="tablaAzul">
            <th>
                N°
            </th>
            <th>
                FECHA
            </th>
            <th>
                PACIENTE
            </th>
            <th>
                PROFESIONAL
            </th>
            <th>
                OBSERVACIONES
            </th>
            <th>
                PARENTESCO
            </th>
            <th>
                SERVICIO SOLICITADO
            </th>
            <th>
                PROBLEMATICA O DIFICULTAD
            </th>
            <th>
                RELACIÓN CON LOS DEMAS
            </th>
        </tr>
    </thead>

    <tbody id="tbody-datosAdmisionhidden">
    </tbody>

</table>





@section Scripts {
    <script>
        document.querySelector("#buscar").onkeyup = function () {
            $TableFilter("#tabla", this.value);
        }

        $TableFilter = function (id, value) {
            var rows = document.querySelectorAll(id + ' tbody tr');

            for (var i = 0; i < rows.length; i++) {
                var showRow = false;

                var row = rows[i];
                row.style.display = 'none';

                for (var x = 0; x < row.childElementCount; x++) {
                    if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                        showRow = true;
                        break;
                    }
                }

                if (showRow) {
                    row.style.display = null;
                }
            }
        }

        /*Fecha actual por defecto*/
     /*   window.onload = FechaActual();*/
        function FechaActual() {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            document.getElementById('Fecha').value = ano + "-" + mes + "-" + dia;

        }

        // funcion para el guardado de datos, ya sea para el crear o el editar
        function GuardarDatoAdmision() {
            var fichaAdmisionID = $("#FichaID").val();
            var fichaAdmisionFecha = $("#Fecha").val();
            var fichaAdmisionParentesco = $("#Parentesco").val();
            var fichaAdmisionDescripcion = $("#DescripcionProblematica").val();
            var fichaAdmisionServicio = $("#Servicio").val();
            var fichaAdmisionRelacion = $("#RelacionesDemas").val();
            var fichaAdmisionObservacion = $("#Observaciones").val();
            var profesionalID = $("#ProfesionalID").val();
            var pacienteID = $("#PacienteID").val();


            var registrar = true;

            if (profesionalID == 0) {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT DE PROFESIONAL QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#campo-obligatorio-profesionalID").removeClass("ocultar");
            }
            if (pacienteID == 0) {
                registrar = false;
                $("#campo-obligatorio-pacienteID").removeClass("ocultar");
            }

            var date = new Date;
            var mesActual = date.getMonth() + 1;
            var dia = date.getDate();
            if (mesActual < 10) {
                if (dia < 10) {
                    var FechaHoy = date.getFullYear() + "-0" + (date.getMonth() + 1) + "-0" + date.getDate();
                }
                else {
                    var FechaHoy = date.getFullYear() + "-0" + (date.getMonth() + 1) + "-" + date.getDate();
                }

            }
            else {
                if (dia < 10) {
                    var FechaHoy = date.getFullYear() + "-" + (date.getMonth() + 1) + "-0" + date.getDate();
                }
                else {
                    var FechaHoy = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                }
            }

            var FechaPredeterminada = "1920-01-01";

            if (fichaAdmisionFecha == FechaPredeterminada || fichaAdmisionFecha == null || fichaAdmisionFecha < FechaPredeterminada || fichaAdmisionFecha > FechaHoy) {
                registrar = false;
                $("#FechaValidacion").removeClass("ocultar");
            }

            if (registrar == true) {
                $.ajax({
                    type: "POST",
                    url: '../../DatosDeAdmisions/GuardarDatoAdmision',
                    data: {
                        FichaAdmisionFecha: fichaAdmisionFecha, FichaAdmisionParentesco: fichaAdmisionParentesco,
                        FichaAdmisionDescripcion: fichaAdmisionDescripcion,
                        FichaAdmisionServicio: fichaAdmisionServicio, FichaAdmisionRelacion: fichaAdmisionRelacion,
                        FichaAdmisionObservacion: fichaAdmisionObservacion, FichaAdmisionID: fichaAdmisionID,
                        ProfesionalID: profesionalID, PacienteID: pacienteID
                    },

                    success: function (guardado) {
                        if (guardado == true) {

                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'La Ficha Fue guardada Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            })

                            $("#ModalDatosAdmision").modal("hide");
                            VaciarFormulario();
                            BuscarListadoDatosAdmision();

                        }
                        else {
                            Swal.fire(
                                'No se pudo realizar esta acción',
                                'Revise el formulario que los datos sean válidos.',
                                'error'
                            )
                        }
                    },
                    error: function (data) {
                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
            }


        }

        //tabla principal del index

        window.onload = BuscarListadoDatosAdmision();

        function BuscarListadoDatosAdmision() {
            $.ajax({
                type: "POST",
                url: '../../DatosDeAdmisions/BuscarListadoDatosAdmision',
                data: {},
                success: function (datosAdmisionMostrar) {

                    $("#ModalDatosAdmision").modal("hide");

                    $("#tbody-datosAdmision").empty();
                    $("#tbody-datosAdmisionhidden").empty();
                    var numeroColumna = 0;
                    $.each(datosAdmisionMostrar, function (index, datoAdmsion) {

                        $("#tbody-datosAdmision").append('<tr>' +

                            '<td style="width:100px" class="text-center TextoNegroTablas ocultar640 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionFechaString +
                            '</td>' +
                            '<td style="width:50%" class="text-left TextoNegroTablas ContenidoTablaGris">' +
                            datoAdmsion.PacienteNombre +
                            '</td>' +
                            '<td style="width:50%" class="text-left TextoNegroTablas ocultar860 ContenidoTablaGris">' +
                            datoAdmsion.Profesionales.PersonaApellidoNombre +
                            '</td>' +

                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris"">' +
                            '<a onclick="DatosDeAdmision(' + datoAdmsion.FichaAdmisionID + ', 0)" class="btn-circle-index">' +
                            '<img src="../Content/dashtreme-master/assets/images/iconos menu/editar.png" class="icono-tabla" data-toggle="modal" data-target="#ModalDatosAdmision"/>' +
                            '</a>' +
                            '</td>' +
                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris"">' +
                            '<a onclick="DatosDeAdmision(' + datoAdmsion.FichaAdmisionID + ', 1)" class="btn-circle-index">' +
                            '<img src="../Content/dashtreme-master/assets/images/iconos menu/detalles.png" class="icono-tabla" data-toggle="modal" data-target="#ModalDatosAdmision"/>' +
                            '</a>' +
                            '</td>' +
                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris  ">' +
                            '<a class="btn-circle-index" onclick="EliminarDatosDeAdmision(' + datoAdmsion.FichaAdmisionID + ');"><img src="../Content/dashtreme-master/assets/images/iconos menu/basura.png" class="icono-tabla" /></a>' +
                            '</td>' +

                            '</tr>'
                        );

                        numeroColumna += 1;
                        $("#tbody-datosAdmisionhidden").append('<tr>' +
                            '<td >' + numeroColumna + '</td>' +
                            '<td class="text-left TextoNegroTablas ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionFechaString +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.PacienteNombre +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ContenidoTablaGris">' +
                            datoAdmsion.Profesionales.PersonaApellidoNombre +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionObservacion +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionParentesco +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionServicio +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionDescripcion +
                            '</td>' +
                            '<td class="text-left TextoNegroTablas ocultar1120 ContenidoTablaGris">' +
                            datoAdmsion.FichaAdmisionRelacion +
                            '</td>' +
                            '</tr>'
                        );

                    });
                    numeroColumna = 0;
                },
                error: function (data) {
                    /*
                    * Se ejecuta si la peticón ha sido erronea
                    * */
                    alert("Problemas al tratar de enviar el formulario");
                }
            });
        }


        //autocompletado de los profesionales

        $("#ProfesionalNombre").autocomplete({
            dataType: 'JSON',
            source: function (request, response) {
                jQuery.ajax({
                    url: '../../Profesionals/BuscarProfesional',
                    type: "post",
                    dataType: "json",
                    data: {
                        texto: request.term,
                    },
                    success: function (profesionalMostrar) {

                        response($.map(profesionalMostrar, function (profesionalMostrar) {
                            return {
                                id: profesionalMostrar.ProfesionalID,
                                value: profesionalMostrar.PersonaApellidoNombre
                            }
                        }))
                    }
                })
            },
            select: function (e, ui) {
                $("#ProfesionalID").val(ui.item.id);
                $("#campo-obligatorio-profesionalID").addClass("ocultar");
            }
        });

        //autocompletado de los pacientes

        $("#PacienteNombre").autocomplete({
            dataType: 'JSON',
            source: function (request, response) {
                jQuery.ajax({
                    url: '../../Pacientes/BuscarPacientes',
                    type: "post",
                    dataType: "json",
                    data: {
                        texto: request.term,
                    },
                    success: function (pacientesMostrar) {
                        response($.map(pacientesMostrar, function (pacienteMostrar) {
                            return {
                                id: pacienteMostrar.PacienteID,
                                value: pacienteMostrar.PersonaApellidoNombre
                            }
                        }))
                    }
                })
            },
            select: function (e, ui) {
                $("#PacienteID").val(ui.item.id);
                ValidacionPacienteExiste(ui.item.id);
                $("#campo-obligatorio-pacienteID").addClass("ocultar");

            }
        });

        //funcion para controlar que cuando este vacio el input utilizado para el filtro limpie el filtro
        function ControlarAutocompletadoPaciente() {
            var nombre = $("#PacienteNombre").val();
            var pacienteID = $("#pacienteID").val();
            if (nombre == "" && pacienteID != 0) {
                LimpiarPaciente();
            }
        }
        //funcion para limpiar los campos completados del paciente
        function LimpiarPaciente() {
            $("#PacienteID").val(0);
            $("#PacienteNombre").val('');
            $("#campo-obligatorio-pacienteID").addClass("ocultar");
            $("#PacienteExiste").addClass("ocultar");
        }

        //funcion para controlar que cuando este vacio el input utilizado para el filtro limpie el filtro
        function ControlarAutocompletadoProfesional() {
            var nombre = $("#ProfesionalNombre").val();
            var profesionalID = $("#ProfesionalID").val();
            if (nombre == "" && profesionalID != 0) {
                LimpiarProfesional();
            }
        }
        //funcion para limpiar los campos completados del profesional
        function LimpiarProfesional() {
            $("#ProfesionalID").val(0);
            $("#ProfesionalNombre").val('');
            $("#campo-obligatorio-pacienteID").addClass("ocultar");
        }


        function ValidacionPacienteExiste(pacienteID) {
            $.ajax({
                type: "POST",
                url: '../../DatosDeAdmisions/ValidacionPacienteExiste',
                data: {
                    PacienteID: pacienteID
                },
                success: function (validacion) {
                    if (validacion == false) {
                        $("#PacienteExiste").removeClass("ocultar");
                    }
                    else {
                        $("#PacienteExiste").addClass("ocultar");
                    }
                },
                error: function (data) {
                }
            });
        }


        // traer los datos ya sea para el editar o el detalle
        function DatosDeAdmision(fichaAdmisionID, Origen) {

            $.ajax({
                type: "POST",
                url: '../../DatosDeAdmisions/BuscarInfoDeAdmision',
                data: { FichaAdmisionID: fichaAdmisionID },
                success: function (datoAdmisionMostrar) {

                    $("#FichaID").val(datoAdmisionMostrar.FichaAdmisionID);
                    $("#Fecha").val(datoAdmisionMostrar.FichaAdmisionFechaString);
                    $("#Parentesco").val(datoAdmisionMostrar.FichaAdmisionParentesco);
                    $("#DescripcionProblematica").val(datoAdmisionMostrar.FichaAdmisionDescripcion);
                    $("#Servicio").val(datoAdmisionMostrar.FichaAdmisionServicio);
                    $("#RelacionesDemas").val(datoAdmisionMostrar.FichaAdmisionRelacion);
                    $("#Observaciones").val(datoAdmisionMostrar.FichaAdmisionObservacion);
                    $("#ProfesionalID").val(datoAdmisionMostrar.Profesionales.ProfesionalID);
                    $("#ProfesionalNombre").val(datoAdmisionMostrar.Profesionales.PersonaApellidoNombre);
                    $("#PacienteID").val(datoAdmisionMostrar.PacienteID);
                    $("#PacienteNombre").val(datoAdmisionMostrar.PacienteNombre);

                    if (Origen == 1) {
                        $("#Fecha").prop("disabled", true);
                        $("#Parentesco").prop("disabled", true);
                        $("#DescripcionProblematica").prop("disabled", true);
                        $("#Servicio").prop("disabled", true);
                        $("#RelacionesDemas").prop("disabled", true);
                        $("#Observaciones").prop("disabled", true);
                        $("#ProfesionalNombre").prop("disabled", true);
                        $("#PacienteNombre").prop("disabled", true);
                        $("#botonguardar").prop("hidden", true);
                        $("#botoncancelar").prop("hidden", true);
                        $("#BotonVolver").removeClass("ocultar");
                    }
                    else {
                        $("#Fecha").prop("disabled", false);
                        $("#Parentesco").prop("disabled", false);
                        $("#DescripcionProblematica").prop("disabled", false);
                        $("#Servicio").prop("disabled", false);
                        $("#RelacionesDemas").prop("disabled", false);
                        $("#Observaciones").prop("disabled", false);
                        $("#ProfesionalNombre").prop("disabled", true);
                        $("#PacienteNombre").prop("disabled", true);
                        $("#botonguardar").prop("hidden", false);
                        $("#botoncancelar").prop("hidden", false);
                        $("#BotonVolver").addClass("ocultar");
                    }

                    $("#ModalDatosAdmision").modal("show");

                },
                error: function (data) {
                    alert("Problemas al buscar datos de la Ficha.");
                }
            });
        }

        //Función para asegurarnos que no se active la propiedad disabled una vez que presionamos el botón crear

        function crear() {
            $("#Fecha").prop("disabled", false);
            $("#Parentesco").prop("disabled", false);
            $("#DescripcionProblematica").prop("disabled", false);
            $("#Servicio").prop("disabled", false);
            $("#RelacionesDemas").prop("disabled", false);
            $("#Observaciones").prop("disabled", false);
            $("#ProfesionalNombre").prop("disabled", false);
            $("#PacienteNombre").prop("disabled", false);
            $("#botonguardar").prop("hidden", false);
            $("#botoncancelar").prop("hidden", false);
            $("#BotonVolver").addClass("ocultar");

            FechaActual();
        }

        //Eliminar con alerta
        function EliminarDatosDeAdmision(FichaAdmisionID) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            swalWithBootstrapButtons.fire({
                title: '¿Estas seguro de eliminar la Ficha de Admisión?',
                text: "Si lo eliminas, sera para siempre",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '../../DatosDeAdmisions/EliminarDatosDeAdmision',
                        data: { id: FichaAdmisionID },
                        success: function (guardado) {
                            if (guardado == true) {

                                BuscarListadoDatosAdmision();
                                swalWithBootstrapButtons.fire(
                                    'Eliminado!',
                                    'Has Eliminado esta Ficha.',
                                    'success'
                                )
                            }
                            else {
                                Swal.fire(
                                    'No se pudo realizar esta acción',
                                    'Revise el formulario que los datos sean válidos.',
                                    'error'
                                )
                            }
                        },
                        error: function (guardado) {
                        }
                    });
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {

                }
            })
        }




        //vacial el formulario
        function VaciarFormulario() {

            $("#FichaID").val(0);
            $("#Fecha").val("1920-01-01");
            $("#Parentesco").val('');
            $("#DescripcionProblematica").val('');
            $("#Servicio").val('');
            $("#RelacionesDemas").val('');
            $("#Observaciones").val('');
            $("#ProfesionalID").val(0);
            $("#ProfesionalNombre").val('');
            $("#PacienteID").val(0);
            $("#PacienteNombre").val('');

            $("#campo-obligatorio-profesionalID").addClass("ocultar");
            $("#campo-obligatorio-pacienteID").addClass("ocultar");
            $("#FechaValidacion").addClass("ocultar");
            $("#PacienteExiste").addClass("ocultar");

            $("#nav-home").click();


        }


        function GenerarImpresion() {

            //var doc = new jsPDF();//VERTICAL

            var doc = new jsPDF('l', 'mm', [297, 210]);//HORIZONTAL

            var totalPagesExp = "{total_pages_count_string}";

            var pageContent = function (data) {

                // CABECERA
                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();

                var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

                doc.setDrawColor(200, 226, 234);
                doc.setLineWidth(22);
                doc.line(13, 24, 284, 24); // horizontal line


                var imgData = "../img/LogoSinLetrasySinFondo.png";

                doc.addImage(imgData, 'PNG', 18, 17, 13, 13);


                doc.setFontSize(18);

                doc.text('LISTADO DE FICHA DE ADMISIÓN', 38, 25);
                doc.setFontSize(10);


                // PIE DE PAGINA
                var str = "Pagina " + data.pageCount;

                // Total page number plugin only available in jspdf v1.0+
                if (typeof doc.putTotalPages == 'function') {
                    str = str + " de " + totalPagesExp;
                }

                doc.setFontSize(10);

                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();

                doc.text(str, data.settings.margin.left, pageHeight - 10);

            };
            var elem = document.getElementById("tablahidden");
            var res = doc.autoTableHtmlToJson(elem);

            doc.autoTable(res.columns, res.data, {
                startY: 35, addPageContent: pageContent,
                margin: { top: 25 },
                styles: {
                    overflow: 'linebreak',
                },
                theme: 'striped',
                headStyles: {
                    fillColor: '#064768'
                },
                columnStyles: {
                    0: { columnWidth: 8 },
                    1: { columnWidth: 19 },
                    2: { columnWidth: 39 },
                    3: { columnWidth: 39 },
                    4: { columnWidth: 40 },
                    5: { columnWidth: 27 },
                    6: { columnWidth: 31 },
                    7: { columnWidth: 34 },
                    8: { columnWidth: 34 }
                },
                createdHeaderCell: function (cell, opts) {
                    if (opts.column.index == 0 || opts.column.index == 1) {
                        cell.styles.halign = 'center';
                    }
                    cell.styles.fontSize = '9';
                },
                createdCell: function (cell, opts) {
                    if (opts.column.index == 0 || opts.column.index == 1) {
                        cell.styles.halign = 'center';
                    }
                }
            });

            // ESTO SE LLAMA ANTES DE ABRIR EL PDF PARA QUE MUESTRE EN EL PDF EL NRO TOTAL DE PAGINAS. ACA CALCULA EL TOTAL DE PAGINAS.

            if (typeof doc.putTotalPages === 'function') {
                doc.putTotalPages(totalPagesExp);
            }

            var string = doc.output('datauristring');

            var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>"

            var x = window.open();

            x.document.open();

            x.document.write(iframe);

            x.document.close();

            //doc.save('Impresion.pdf'); //Para descargar directamente.
        }


    </script>
}