@model IEnumerable<AppPlanillasAlumnos.Models.Paciente>

@*@{ ViewBag.Title = "Index"; }*@

<h2 class="text-center text-uppercase text-dark letratitulo">Pacientes</h2>


<!-- Modal -->
<div class="modal fade" id="ModalPacientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content-2">
            <div class="modal-header-2">
                <h5 class="modal-title text-white" id="exampleModalLabel">PACIENTE</h5>
                <button type="button" class="CruzBlanca" onclick="VaciarModalPaciente()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-2">
                <div class="cardfondoclaro tab-content">
                    <div class="row">
                        <div class="col-10 col-lg-5">
                            <label class="control-label TextoNegroFormulario">Persona Relacionada <span class="rojo">*</span></label>
                            <input type="hidden" id="PacientePersonaID" name="PacientePersonaID" value="0" />
                            <input type="text" name="PacientePersonaNombre" id="PacientePersonaNombre" onKeyUp="ControlarAutocompletado()" onKeyDown="ControlarAutocompletado()" class="form-control form-control-rounded" style="text-transform:uppercase" />
                            <label id="campo-obligatorio-PersonaID" class="control-label ocultar validaciones">* Campo Obligatorio</label>
                            <label id="PersonaExiste" class="control-label ocultar FondoValidaciones validaciones">Ya se encuentra Registrado esta Persona Como Paciente</label>
                        </div>
                        <div class="col-1 botonpersona">
                            <button type="button" class="BotonAgregarRedondo text-dark ColorCelesteBoton" id="BotonCrearPersona" onclick="CambiodevistaparcialPacientes()">
                                <img src="~/Content/dashtreme-master/assets/images/iconos menu/agregar-usuario.png " class="IconoBotonAgregar" />
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label TextoNegroFormulario">Datos significativos <span class="rojo">*</span></label>
                            <input type="text" autocomplete="off" id="PacienteDatosSignificativos" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                            <label id="campo-obligatorio-PacienteDatosSignificativos" class="control-label ocultar validaciones text-uppercase">* Campo Obligatorio</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label TextoNegroFormulario">Caracteristicas <span class="rojo">*</span></label>
                            <input type="text" autocomplete="off" id="PacienteCaracteristicas" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                            <label id="campo-obligatorio-PacienteCaracteristicas" class="control-label ocultar validaciones text-uppercase">* Campo Obligatorio</label>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Edad de comienzo a caminar (meses) <span class="rojo">*</span></label>
                            <input type="hidden" id="PacienteID" name="PacienteID" value="0" />
                            <input type="number" autocomplete="off" id="PacienteEdadCaminar" class="form-control  form-control-rounded" />
                            <label id="campo-obligatorio-PacienteEdadCaminar" class="control-label ocultar validaciones text-uppercase">* Campo Obligatorio</label>

                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Control esfinter</label>
                            <input type="text" autocomplete="off" id="PacienteControlEsfinter" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Lenguaje</label>
                            <input type="text" autocomplete="off" id="PacienteLenguaje" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Lenguaje textual</label>
                            <input type="text" autocomplete="off" id="PacienteLenguajeGestual" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Lenguaje Oral</label>
                            <input type="text" autocomplete="off" id="PacienteLenguajeOral" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label TextoNegroFormulario">Intelecto</label>
                            <input type="text" autocomplete="off" id="PacienteIntelecto" class="form-control  form-control-rounded" style="text-transform:uppercase" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer-2">
                    <button class="BotonCancelar-Modal" id="botoncancelar" onclick="VaciarModalPaciente()" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/cerrar.png" class="icono-menu" />
                    </button>
                    <button type="button" id="botonguardar" onclick="GuardarPaciente()" class="BotonGuardar-Modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/salvar.png" class="icono-menu" />
                    </button>
                    <button class="ocultar BotonVolver " id="BotonVolver" onclick="VaciarModalPaciente()" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/regreso.png" class="icono-menu" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("../../Views/Localidades/Create")
@Html.Partial("../../Views/Personas/_CrearPersona")

<div class="row">
    <div class="col-12 col-md-4 EspaciadoBoton ">
        <input id="buscar" type="text" class="form-control BarraBusqueda form-controlCorto text-uppercase" autocomplete="off" autofocus placeholder="ESCRIBA AQUÍ PARA ACOTAR LA BUSQUEDA" />
    </div>
    <div class="col-auto">
        <button type="button" onclick="MetodoParaDetalle()" class="SombraBoton TextoNegroBoton ColorCelesteBoton" data-toggle="modal" data-target="#ModalPacientes">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu/paciente (1).png" class="icono-menu" />
            Crear
        </button>
    </div>
    <div class="col-auto  ">
        <button type="button" class="SombraBoton TextoNegroBoton ColorCelesteBoton" onclick="GenerarImpresion()">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu//impresora (2).png" class="icono-menu" />
            Imprimir Listado
        </button>
    </div>
    <div class="col-auto">
        <button class="SombraBoton ColorCelesteBoton boton-Info-Redondo" data-toggle="modal" data-target="#ModalInfoPaciente">
            <img src="~/Content/dashtreme-master/assets/images/iconos menu/informacion negro.png" class="icono-Informacion" />
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalInfoPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content-2">
            <div class="modal-header-2 ">
                <h5 class="modal-title text-white" id="exampleModalLabel">INFO. PACIENTE</h5>
                <button type="button" class="CruzBlanca ubicacionCruz" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-2">
                <div class="cardfondoclaro tab-content">
                    <label class="control-label TextoNegroFormulario">Para poder crear un Paciente se debe tener creada una Persona</label>
                </div>

                <div class="modal-footer-2">
                    <button class="BotonVolver" data-dismiss="modal">
                        <img src="~/Content/dashtreme-master/assets/images/iconos menu/regreso.png" class="icono-menu" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<table class="table table-bordered table-active table-hover" id="tabla">
    <thead class="letra">
        <tr class="tablaAzul">
            <th class="text-left text-white">
                Nombre Completo
            </th>
            <th class="text-left ocultar860 text-white">
                Datos Significativos
            </th>
            <th class="text-left ocultar860 text-white">
                Caracteristicas
            </th>
            <th class="text-center ocultar1430  text-white">
                Edad de comienzo a caminar
            </th>
            <th class="text-center tdBotones"></th>
            <th class="text-center tdBotones"></th>
            <th class="text-center tdBotones"></th>
        </tr>
    </thead>
    <tbody id="tbody-pacientes">
    </tbody>
</table>

<table hidden id="tablaPacientehidden">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRE COMPLETO
            </th>
            <th>
                DATOS SIGNIFICATIVOS
            </th>
            <th>
                CARACTERISTICAS
            </th>
            <th>
                EDAD DE COMIENZO A CAMINAR
            </th>
            <th>
                CONTROL ESFINTER
            </th>
            <th>
                LENGUAJE
            </th>
            <th>
                LENGUAJE TEXTUAL
            </th>
            <th>
                LENGUAJE ORAL
            </th>
            <th>
                INTELECTO
            </th>
        </tr>
    </thead>
    <tbody id="tbody-pacienteshidden">
    </tbody>
</table>

@section Scripts {
    <script>
        /PARA ACOTAR LA BUSQUEDA/
        document.querySelector("#buscar").onkeyup = function () {
            $TableFilter("#tabla", this.value);
        }

        $TableFilter = function (id, value) {
            var rows = document.querySelectorAll(id + ' tbody tr');

            for (var i = 0; i < rows.length; i++) {
                var showRow = false;

                var row = rows[i];
                row.style.display = 'none';

                for (var x = 0; x < row.childElementCount; x++) {
                    if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                        showRow = true;
                        break;
                    }
                }

                if (showRow) {
                    row.style.display = null;
                }
            }
        }
    </script>

    <script>
        function GuardarPaciente() {
            var personaID = $("#PacientePersonaID").val();
            var pacienteDatosSignificativos = $("#PacienteDatosSignificativos").val();
            var pacienteCaracteristicas = $("#PacienteCaracteristicas").val();
            var pacienteEdadCaminar = $("#PacienteEdadCaminar").val();
            var pacienteControlEsfinter = $("#PacienteControlEsfinter").val();
            var pacienteLenguaje = $("#PacienteLenguaje").val();
            var pacienteLenguajeGestual = $("#PacienteLenguajeGestual").val();
            var pacienteLenguajeOral = $("#PacienteLenguajeOral").val();
            var pacienteIntelecto = $("#PacienteIntelecto").val();
            var pacienteID = $("#PacienteID").val();

            //CAMPOS OBLIGATORIOS EN EL MODAL//
            $("#campo-obligatorio-PersonaID").addClass("ocultar");
            $("#campo-obligatorio-PacienteDatosSignificativos").addClass("ocultar");
            $("#campo-obligatorio-PacienteEdadCaminar").addClass("ocultar");
            $("#campo-obligatorio-PacienteCaracteristicas").addClass("ocultar");

            var guardar = true;

            if (personaID == 0) {
                guardar = false;
                $("#campo-obligatorio-PersonaID").removeClass("ocultar");
            }

            if (pacienteDatosSignificativos == "") {
                guardar = false;
                $("#campo-obligatorio-PacienteDatosSignificativos").removeClass("ocultar");
            }

            if (pacienteEdadCaminar == "") {
                guardar = false;
                $("#campo-obligatorio-PacienteEdadCaminar").removeClass("ocultar");
            }

            if (pacienteCaracteristicas == "") {
                guardar = false;
                $("#campo-obligatorio-PacienteCaracteristicas").removeClass("ocultar");
            }

            if (guardar == true) {

                $.ajax({
                    type: "POST",
                    url: '../../Pacientes/GuardarPaciente',
                    data: {
                        PersonaID: personaID, PacienteDatosSignificativos: pacienteDatosSignificativos,
                        PacienteCaracteristicas: pacienteCaracteristicas, PacienteEdadCaminar: pacienteEdadCaminar,
                        PacienteControlEsfinter: pacienteControlEsfinter, PacienteLenguaje: pacienteLenguaje,
                        PacienteLenguajeGestual: pacienteLenguajeGestual, PacienteLenguajeOral: pacienteLenguajeOral,
                        PacienteIntelecto: pacienteIntelecto, PacienteID: pacienteID,
                    },
                    success: function (guardado) {
                        if (guardado == true) {
                            VaciarModalPaciente();
                            BuscarListadoPaciente();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'El Paciente  Fue guardado Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $("#ModalPacientes").modal("hide");

                        }
                        else {
                            $("#PersonaExiste").removeClass("ocultar");
                        }
                    },
                    error: function (data) {

                    }
                });

            }
        }

        function VaciarModalPaciente() {
            $("#PacientePersonaID").val(0);
            $("#PacienteDatosSignificativos").val('');
            $("#PacienteCaracteristicas").val('');
            $("#PacienteEdadCaminar").val('');
            $("#PacienteControlEsfinter").val('');
            $("#PacienteLenguaje").val('');
            $("#PacienteLenguajeGestual").val('');
            $("#PacienteLenguajeOral").val('');
            $("#PacienteIntelecto").val('');
            $("#PacienteID").val(0);
            $("#PacientePersonaNombre").val('');
            $("#PersonaExiste").addClass("ocultar");
            $("#BotonCrearPersona").removeClass("ocultar");

            $("#campo-obligatorio-PacienteDatosSignificativos").addClass("ocultar");
            $("#campo-obligatorio-PacienteCaracteristicas").addClass("ocultar");
            $("#campo-obligatorio-PacienteEdadCaminar").addClass("ocultar");
            $("#campo-obligatorio-PacienteControlEsfinter").addClass("ocultar");
            $("#campo-obligatorio-PacienteLenguaje").addClass("ocultar");
            $("#campo-obligatorio-PacienteLenguajeGestual").addClass("ocultar");
            $("#campo-obligatorio-PacienteLenguajeOral").addClass("ocultar");
            $("#campo-obligatorio-PacienteIntelecto").addClass("ocultar");
            $("#campo-obligatorio-PersonaNombre").addClass("ocultar");
            $("#campo-obligatorio-PersonaID").addClass("ocultar");
        }

        window.onload = BuscarListadoPaciente();

        function BuscarListadoPaciente() {
            $.ajax({
                type: "POST",
                url: '../../Pacientes/BuscarListadoPaciente',
                data: {},
                success: function (pacientesMostrar) {
                    /*
                    * Se ejecuta cuando termina la petición y esta ha sido
                    * correcta
                    * */

                    $("#tbody-pacientes").empty();
                    $("#tbody-pacienteshidden").empty();
                    var numeroColumna = 0;

                    $.each(pacientesMostrar, function (index, Paciente) {

                        $("#tbody-pacientes").append('<tr>' +

                            '<td class="text-left TextoNegroTablas  ContenidoTablaGris TextoenDobleLineaTabla">' +
                            Paciente.PersonaApellidoNombre + '</td>' +

                            '<td class="text-left TextoNegroTablas ocultar860 ContenidoTablaGris TextoenDobleLineaTabla">' +
                            Paciente.PacienteDatosSignificativos + '</td>' +

                            '<td class="text-left TextoNegroTablas ocultar860 ContenidoTablaGris TextoenDobleLineaTabla">' +
                            Paciente.PacienteCaracteristicas + '</td>' +


                            '<td class="text-center TextoNegroTablas ocultar1430 ContenidoTablaGris TextoenDobleLineaTabla">' +
                            Paciente.PacienteEdadCaminar + '</td>' +

                      
                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris">' +
                            '<a onclick= "BuscarInfoEditarPaciente(' + Paciente.PacienteID + ',0)" class="btn-circle-index">' +
                            '<img src="../Content/dashtreme-master/assets/images/iconos menu/editar.png" class="icono-tabla"  />' +
                            '</a>' +
                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris">' +
                            '<a class="btn-circle-index" onclick="BuscarInfoEditarPaciente(' + Paciente.PacienteID + ',1);"><img src="../Content/dashtreme-master/assets/images/iconos menu/detalles.png" class="icono-tabla" /></a>' +
                            '</td>' +
                            '<td style="width:50px" class="text-center TextoNegroTablas tdBotones ContenidoTablaGris">' +
                            '<a class="btn-circle-index" onclick="EliminarPaciente(' + Paciente.PacienteID + ');"><img src="../Content/dashtreme-master/assets/images/iconos menu/basura.png" class="icono-tabla" /></a>' +
                            '</td>' +
                            '</tr>');
                        numeroColumna += 1;
                        $("#tbody-pacienteshidden").append('<tr>' +
                            '<td >' + numeroColumna + '</td>' +
                            '<td>' +
                            Paciente.PersonaApellidoNombre + '</td>' +
                            '<td>' +
                            Paciente.PacienteDatosSignificativos + '</td>' +
                            '<td>' +
                            Paciente.PacienteCaracteristicas + '</td>' +
                            '<td>' +
                            Paciente.PacienteEdadCaminar + '</td>' +
                           
                            '<td>' +
                            Paciente.PacienteControlEsfinter + '</td>' +
                            '<td>' +
                            Paciente.PacienteLenguaje + '</td>' +
                            '<td>' +
                            Paciente.PacienteLenguajeGestual + '</td>' +
                            '<td>' +
                            Paciente.PacienteLenguajeOral + '</td>' +
                            '<td>' +
                            Paciente.PacienteIntelecto + '</td>' +
                            '</tr>');
                    });
                    numeroColumna = 0;
                },
                error: function (data) {
                    /*
                    * Se ejecuta si la peticón ha sido erronea
                    * */
                    alert("Problemas al tratar de enviar el formulario");
                }
            });
        }

        function BuscarInfoEditarPaciente(pacienteID, Detalle) {
            $.ajax({
                type: "POST",
                url: '../../Pacientes/BuscarInfoEditarPaciente',
                data: { PacienteID: pacienteID },
                success: function (pacientesMostrar) {
                    $("#PacienteID").val(pacientesMostrar.PacienteID);
                    $("#PacienteDatosSignificativos").val(pacientesMostrar.PacienteDatosSignificativos);
                    $("#PacienteCaracteristicas").val(pacientesMostrar.PacienteCaracteristicas);
                    $("#PacienteEdadCaminar").val(pacientesMostrar.PacienteEdadCaminar);
                    $("#PacienteControlEsfinter").val(pacientesMostrar.PacienteControlEsfinter);
                    $("#PacienteLenguaje").val(pacientesMostrar.PacienteLenguaje);
                    $("#PacienteLenguajeGestual").val(pacientesMostrar.PacienteLenguajeGestual);
                    $("#PacienteLenguajeOral").val(pacientesMostrar.PacienteLenguajeOral);
                    $("#PacienteIntelecto").val(pacientesMostrar.PacienteIntelecto);
                    $("#PacientePersonaID").val(pacientesMostrar.PersonaID);
                    $("#PacientePersonaNombre").val(pacientesMostrar.PersonaApellidoNombre);

                    if (Detalle == 1) {


                        $("#PacienteDatosSignificativos").prop("disabled", true);
                        $("#PacienteCaracteristicas").prop("disabled", true);
                        $("#PacienteEdadCaminar").prop("disabled", true);
                        $("#PacienteControlEsfinter").prop("disabled", true);
                        $("#PacienteLenguaje").prop("disabled", true);
                        $("#PacienteLenguajeGestual").prop("disabled", true);
                        $("#PacienteLenguajeOral").prop("disabled", true);
                        $("#PacienteIntelecto").prop("disabled", true);

                        $("#PacientePersonaNombre").prop("disabled", true);
                        $("#botonguardar").prop("hidden", true);
                        $("#BotonVolver").removeClass("ocultar");
                        $("#botoncancelar").prop("hidden", true);
                        $("#BotonCrearPersona").addClass("ocultar");

                        $("#ModalPacientes").modal("show");

                    }
                    else {

                        $("#PacienteDatosSignificativos").prop("disabled", false);
                        $("#PacienteCaracteristicas").prop("disabled", false);
                        $("#PacienteEdadCaminar").prop("disabled", false);
                        $("#PacienteControlEsfinter").prop("disabled", false);
                        $("#PacienteLenguaje").prop("disabled", false);
                        $("#PacienteLenguajeGestual").prop("disabled", false);
                        $("#PacienteLenguajeOral").prop("disabled", false);
                        $("#PacienteIntelecto").prop("disabled", false);

                        $("#PacientePersonaNombre").prop("disabled", true);
                        $("#botonguardar").prop("hidden", false);
                        $("#botoncancelar").prop("hidden", false);
                        $("#BotonVolver").addClass("ocultar");
                        $("#BotonCrearPersona").addClass("ocultar");

                        $("#ModalPacientes").modal("show");
                    }


                    $("#ModalPacientes").modal("show");

                },
                error: function (data) {
                    alert("Problemas al tratar de enviar el formulario");
                }

            });
        }

        function MetodoParaDetalle() {

            $("#PacienteDatosSignificativos").prop("disabled", false);
            $("#PacienteCaracteristicas").prop("disabled", false);
            $("#PacienteEdadCaminar").prop("disabled", false);
            $("#PacienteControlEsfinter").prop("disabled", false);
            $("#PacienteLenguaje").prop("disabled", false);
            $("#PacienteLenguajeGestual").prop("disabled", false);
            $("#PacienteLenguajeOral").prop("disabled", false);
            $("#PacienteIntelecto").prop("disabled", false);

            $("#PacientePersonaNombre").prop("disabled", false);
            $("#botonguardar").prop("hidden", false);
            $("#botoncancelar").prop("hidden", false);
            $("#BotonVolver").addClass("ocultar");
        }

        function EliminarPaciente(pacienteID) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            swalWithBootstrapButtons.fire({
                title: 'Esta seguro que desea eliminar este Paciente?',
                text: "Si lo eliminas, sera para siempre",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '../../Pacientes/EliminarPaciente',
                        data: { id: pacienteID },
                        success: function (validaciones) {
                            if (validaciones === true) {
                                BuscarListadoPaciente();
                                swalWithBootstrapButtons.fire(
                                    'Eliminado!',
                                    'Has Eliminado este Paciente.',
                                    'success'
                                )
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'No se pudo realizar esta acción',
                                    'Este Paciente esta relacionado con otros Registros',
                                    'error'
                                )
                            }

                        },
                        error: function (validaciones) {

                        }
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) { }
            })
        }

        function ControlarAutocompletado() {
            var nombre = $("#PacientePersonaNombre").val();
            var personaID = $("#PacientePersonaID").val();
            if (nombre == "" && personaID != 0) {
                $("#PacientePersonaID").val(0);
                VaciarModalPaciente();
            }
        }

        $("#PacientePersonaNombre").autocomplete({
            dataType: 'JSON',
            source: function (request, response) {
                jQuery.ajax({
                    url: '../../Personas/BuscarPersonas',
                    type: "post",
                    dataType: "json",
                    data: {
                        texto: request.term,
                    },
                    success: function (personasMostrar) {
                        response($.map(personasMostrar, function (personaMostrar) {
                            return {
                                id: personaMostrar.PersonaID,
                                value: personaMostrar.PersonaApellidoNombre
                            }
                        }))

                    }
                })
            },
            select: function (e, ui) {
                $("#PacientePersonaID").val(ui.item.id);
                $("#campo-obligatorio-PersonaNombre").addClass("ocultar");
                $("#campo-obligatorio-PersonaID").addClass("ocultar");
            }
        });

        function BuscarInfoPersona(personaID) {
            $.ajax({
                type: "POST",
                url: '../../Personas/BuscarInfoPersona',
                data: { PersonaID: personaID },
                success: function (personaMostrar) {

                    $("#PacientePersonaID").val(personaMostrar.PersonaID);
                    $("#PacientePersonaNombre").val(personaMostrar.PersonaApellidoNombre);

                },
                error: function (data) {

                }
            });
        }
    </script>

    <script>
        //FUNCION PARA CAMBIAR DE VISTA PARCIAL CUANDO EN EL FORMULARIO SE QUIERE CREAR UNA PERSONA NUEVA
        function CambiodevistaparcialPacientes() {
            $("#ModalPacientes").modal("hide");
            setTimeout('$("#ModalPersona").modal("show");', 500);
        }
        //FUNCION PARA VACIAL EL FORMULARIO CON LA FLECHA DE VOLVER PARA ATRAS Y TAMBIEN VUELVE A MOSTRAR EL MODAL DE FORMULARIO
        function VaciarFormularioPersona() {
            $("#PersonaID").val(0);
            $("#PersonaApellidoNombreCrear").val('');
            $("#PersonaTelefonoCrear").val('');
            $("#PersonaDNICrear").val('');
            $("#PersonaFechaNacimientoCrear").val('');
            $("#Edad").val('');
            $("#PersonaDireccionCrear").val('');
            $("#LocalidadesNombreCrearPersona").val('');
            $("#LocalidadesIDCrearPersona").val('');
            $("#PersonaCorreoCrear").val('');
            $("#PersonaSexoCrear").val('');
            $("#PersonaCovidCrear").val('');
            $("#PersonaObraSocialCrear").val('');
            $("#ObraSocialCualCrear").val('');
            $("#Email_Sistema").val('');
            $("#Contrasenia_Sistema").val('');
            $("#Tipo_Sistema").val('1');
            $("#Opcion_Crear_Usuario").val('false');
            $("#obligatorio-PersonaApellidoNombreCrear").addClass("ocultar");
            $("#obligatorio-PersonaTelefonoCrear").addClass("ocultar");
            $("#obligatorio-PersonaDNICrear").addClass("ocultar");
            $("#obligatorio-PersonaDireccionCrear").addClass("ocultar");
            $("#ModalPersona").modal("hide");
            setTimeout('$("#ModalPacientes").modal("show");', 500);
        }
        //FUNCION PARA OCULTAR EL CREAR USUARIO EN EL MODAL DE CREAR PERSONA
        window.onload = OcultarGuardadoUsuario();
        function OcultarGuardadoUsuario() {
            $("#PreguntaUsuario").prop("hidden", true);
        }

        function GuardarCrearPersona() {
            var personaid = $("#PersonaID").val();
            var personaApellidoNombre = $("#PersonaApellidoNombreCrear").val();
            var personaTelefono = $("#PersonaTelefonoCrear").val();
            var personaDni = $("#PersonaDNICrear").val();
            var personaFechaNacimiento = $("#PersonaFechaNacimientoCrear").val();
            var personaDireccion = $("#PersonaDireccionCrear").val();
            var localidadesID = $("#LocalidadesIDCrearPersona").val();
            var personaCorreo = $("#PersonaCorreoCrear").val();
            var personaSexo = $("#PersonaSexoCrear").val();
            var personaCovid = $("#PersonaCovidCrear").val();
            var personaObraSocial = $("#PersonaObraSocialCrear").val();
            var obraSocialCual = $("#ObraSocialCualCrear").val();
            var emailSistema = $("#Email_Sistema").val();
            var contraseniaSistema = $("#Contrasenia_Sistema").val();
            var tipoSistema = $("#Tipo_Sistema").val();
            var esUsuario = $("#Opcion_Crear_Usuario").val();
            var personaSistemaID = $("#PersonaSistemaID").val();

            //DE ENTRADA AGREGAN LA CLASE OCULTAR A LOS INPUTS
            $("#obligatorio-PersonaApellidoNombreCrear").addClass("ocultar");
            $("#obligatorio-PersonaTelefonoCrear").addClass("ocultar");
            $("#obligatorio-PersonaDNICrear").addClass("ocultar");
            $("#obligatorio-PersonaDireccionCrear").addClass("ocultar");
            $("#existe-PersonaDNICrear").addClass("ocultar");
            $("#obligatorio-PersonaFechaNacimientoCrear").addClass("ocultar");
            $("#obligatorio-LocalidadesNombreCrearPersona").addClass("ocultar");

            var registrar = true;

            if (personaApellidoNombre == "") {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-PersonaApellidoNombreCrear").removeClass("ocultar");
            }
            if (personaTelefono == "") {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-PersonaTelefonoCrear").removeClass("ocultar");
            }
            if (personaDni == "") {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-PersonaDNICrear").removeClass("ocultar");
            }
            if (personaDireccion == "") {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-PersonaDireccionCrear").removeClass("ocultar");
            }
            if (personaDireccion == "") {
                registrar = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-LocalidadesNombreCrearPersona").removeClass("ocultar");
            }


            var date = new Date;
            var mesActual = date.getMonth() + 1;
            var dia = date.getDate();
            if (mesActual < 10) {
                if (dia < 10) {
                    var FechaHoy = date.getFullYear() + "-0" + (date.getMonth() + 1) + "-0" + date.getDate();
                }
                else {
                    var FechaHoy = date.getFullYear() + "-0" + (date.getMonth() + 1) + "-" + date.getDate();
                }

            }
            else {
                if (dia < 10) {
                    var FechaHoy = date.getFullYear() + "-" + (date.getMonth() + 1) + "-0" + date.getDate();
                }
                else {
                    var FechaHoy = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                }
            }
            var FechaPredeterminada = "1920-01-01";

            if (personaFechaNacimiento <= FechaPredeterminada || personaFechaNacimiento == null || personaFechaNacimiento > FechaHoy) {

                $("#obligatorio-PersonaFechaNacimientoCrear").removeClass("ocultar");
                registrar = false;
            }

            $.ajax({
                type: "POST",
                url: '../../Personas/ValidacionDNIExiste',
                data: {
                    PersonaDNI: personaDni, PersonaID: personaid
                },
                success: function (Validaciondni) {
                    if (Validaciondni == true) {
                        if (registrar == true) {
                            if (esUsuario == "false") {

                                $.ajax({
                                    type: "POST",
                                    url: '../../Personas/GuardarPersona',
                                    data: {
                                        PersonaApellidoNombre: personaApellidoNombre, PersonaTelefono: personaTelefono, PersonaDNI: personaDni,
                                        PersonaFechaNacimiento: personaFechaNacimiento, PersonaDireccion: personaDireccion, LocalidadesID: localidadesID,
                                        PersonaCorreo: personaCorreo, PersonaSexo: personaSexo, PersonaCovid: personaCovid, PersonaObraSocial: personaObraSocial,
                                        ObraSocialCual: obraSocialCual, PersonaID: personaid
                                    },
                                    success: function (PersonaID) {
                                        $("#ModalPersona").modal("hide");
                                        setTimeout('$("#ModalPacientes").modal("show");', 500);
                                        BuscarInfoPersona(PersonaID);

                                        VaciarFormularioPersona();

                                        Swal.fire({
                                            position: 'center',
                                            icon: 'success',
                                            title: 'La Persona Fue guardada Correctamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        })
                                    },
                                    error: function (data) {
                                        /*
                                        * Se ejecuta si la peticón ha sido erronea
                                        * */

                                    }

                                });
                            } else {

                                $.ajax({
                                    type: "POST",
                                    url: '../../Personas/GuardarPersonaUsuario',
                                    data: {
                                        PersonaApellidoNombre: personaApellidoNombre, PersonaTelefono: personaTelefono, PersonaDNI: personaDni,
                                        PersonaFechaNacimiento: personaFechaNacimiento, PersonaDireccion: personaDireccion, LocalidadesID: localidadesID,
                                        PersonaCorreo: personaCorreo, PersonaSexo: personaSexo, PersonaCovid: personaCovid, PersonaObraSocial: personaObraSocial,
                                        ObraSocialCual: obraSocialCual, PersonaID: personaid, Email: emailSistema, Constrasenia: contraseniaSistema, TipoSistemaID: tipoSistema,
                                        EsUsuario: esUsuario, PersonaSistemaID: personaSistemaID
                                    },
                                    success: function (persona) {
                                        $("#ModalPersona").modal("hide");
                                        BuscarListadoPersonas();
                                        Swal.fire({
                                            position: 'center',
                                            icon: 'success',
                                            title: 'La Persona y el usuario Fue guardado Correctamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        })
                                        VaciarFormularioPersona();
                                    },
                                    error: function (data) {
                                        /*
                                        * Se ejecuta si la peticón ha sido erronea
                                        * */

                                    }

                                });
                            }

                        }
                    }
                    else {
                        $("#existe-PersonaDNICrear").removeClass("ocultar");
                    }

                },
                error: function (data) {
                    /*
                    * Se ejecuta si la peticón ha sido erronea
                    * */

                }

            });
        }
        $("#PersonaObraSocialCrear").change(function () {
            if ($(this).val() === "false") {
                $("#div-obrasocial-cual").prop("hidden", true);
            } else {
                $("#div-obrasocial-cual").prop("hidden", false);
            }
        });

        /Seccion para Autocompletado./
        $("#LocalidadesNombreCrearPersona").autocomplete({
            dataType: 'JSON',
            source: function (request, response) {
                jQuery.ajax({
                    url: '../../Localidades/BuscarLocalidades',
                    type: "post",
                    dataType: "json",
                    data: {
                        texto: request.term,
                    },
                    success: function (localidadesMostrar) {
                        response($.map(localidadesMostrar, function (localidadMostrar) {
                            return {
                                id: localidadMostrar.LocalidadesID,
                                value: localidadMostrar.LocalidadesNombre
                            }
                        }))

                    }
                })
            },
            select: function (e, ui) {
                $("#LocalidadesIDCrearPersona").val(ui.item.id);
                $("#LocalidadesNombreCrearPersona").val(ui.item.value);
            }
        });

        function GuardarLocalidad() {
            var localidadesnombre = $("#LocalidadesNombreCrear").val();
            var localidadesdepartamento = $("#LocalidadesDepartamento").val();
            var provinciasID = $("#ProvinciasID").val();
            var localidadesID = $("#LocalidadesIDCrear").val();


            $("#obligatorio-LocalidadesNombreCrear").addClass("ocultar");
            $("#existe-LocalidadesNombreCrear").addClass("ocultar");


            var registrarlocalidad = true;

            if (localidadesnombre == "") {
                registrarlocalidad = false;
                //ESCRIBIMOS UN MENSAJE DEBAJO DEL INPUT QUE DIGA QUE ESE CAMPO ES OBLIGATORIO
                $("#obligatorio-LocalidadesNombreCrear").removeClass("ocultar");
            }

            $.ajax({
                type: "POST",
                url: '../../Localidades/ValidarNombreLocalidad',
                data: {
                    LocalidadesNombre: localidadesnombre, LocalidadesDepartamento: localidadesdepartamento, ProvinciasID: provinciasID
                },
                success: function (Validacionlocalidad) {
                    if (Validacionlocalidad == true) {
                        if (registrarlocalidad == true) {
                            $.ajax({
                                type: "POST",
                                url: '../../Localidades/GuardarLocalidad',
                                data: {
                                    LocalidadesNombre: localidadesnombre, LocalidadesDepartamento: localidadesdepartamento, ProvinciasID: provinciasID, LocalidadesID: localidadesID
                                },
                                success: function (localidadid) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: 'La Localidad Fue guardada Correctamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    BuscarInfoLocalidad(localidadid);
                                    CerrarModalLocalidad();

                                },
                                error: function (data) {

                                }
                            });
                        }
                    }
                    else {
                        $("#existe-LocalidadesNombreCrear").removeClass("ocultar");
                    }
                }
            });
        }

        function Cambiodevistaparcial() {
            $("#ModalPersona").modal("hide");
            $("#ModalLocalidad").modal("show");
        }

        function BuscarInfoLocalidad(localidadid) {
            $.ajax({
                type: "POST",
                url: '../../Localidades/BuscarInfoLocalidad',
                data: { LocalidadesID: localidadid },
                success: function (localidadMostrar) {
                    $("#LocalidadesIDCrearPersona").val(localidadMostrar.LocalidadesID);
                    $("#LocalidadesNombreCrearPersona").val(localidadMostrar.LocalidadesNombreCompleto);
                },
                error: function (data) {

                }
            });
        }

        function CerrarModalLocalidad() {
            $("#LocalidadesNombreCrear").val('');
            $("#LocalidadesDepartamento").val('');
            $("#obligatorio-LocalidadesNombreCrear").addClass("ocultar");
            $("#ProvinciasID").val('');
            $("#ModalLocalidad").modal("hide");

            $("#existe-LocalidadesNombreCrear").addClass("ocultar");
            cambiodeVistaLocalidadAPersona();
        }
        function cambiodeVistaLocalidadAPersona() {
            $("#ModalLocalidad").modal("hide");
            setTimeout('$("#ModalPersona").modal("show");', 500);
        }
    </script>

    <script>
        function GenerarImpresion() {

            //var doc = new jsPDF();//VERTICAL

            var doc = new jsPDF('l', 'mm', [297, 210]);//HORIZONTAL
            var totalPagesExp = "{total_pages_count_string}";
            var pageContent = function (data) {

                // CABECERA
                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

                doc.setDrawColor(200, 226, 234);
                doc.setLineWidth(22);
                doc.line(13, 24, 284, 24); // horizontal line

                var imgData = "../img/LogoSinLetrasySinFondo.png";
                doc.addImage(imgData, 'PNG', 18, 17, 13, 13);

                doc.setFontSize(18);
                doc.text('LISTADO DE PACIENTES', 38, 25);

                // PIE DE PAGINA
                var str = "Pagina " + data.pageCount;

                // Total page number plugin only available in jspdf v1.0+
                if (typeof doc.putTotalPages == 'function') {
                    str = str + " de " + totalPagesExp;
                }

                doc.setFontSize(10);
                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                doc.text(str, data.settings.margin.left, pageHeight - 10);

            };
            var elem = document.getElementById("tablaPacientehidden");
            var res = doc.autoTableHtmlToJson(elem);

            doc.autoTable(res.columns, res.data, {
                startY: 35, addPageContent: pageContent,
                margin: { top: 25 },
                styles: {
                    overflow: 'linebreak',
                },
                theme: 'striped',
                headStyles: {
                    fillColor: '#064768'
                },
                columnStyles: {
                    0: { columnWidth: 8 },
                    1: { columnWidth: 33 },
                    2: { columnWidth: 36 },
                    3: { columnWidth: 36 },
                    4: { columnWidth: 40 },
                    5: { columnWidth: 27 },
                    6: { columnWidth: 28 },
                    7: { columnWidth: 22 },
                    8: { columnWidth: 20 },
                    9: { columnWidth: 21 },

                },
                createdHeaderCell: function (cell, opts) {
                    if (opts.column.index == 0 || opts.column.index == 4) {
                        cell.styles.halign = 'center';
                    }
                    cell.styles.fontSize = '8';
                },
                createdCell: function (cell, opts) {
                    if (opts.column.index == 0 || opts.column.index == 4) {
                        cell.styles.halign = 'center';
                    }
                    cell.styles.fontSize = '7';
                }

            });

            // ESTO SE LLAMA ANTES DE ABRIR EL PDF PARA QUE MUESTRE EN EL PDF EL NRO TOTAL DE PAGINAS. ACA CALCULA EL TOTAL DE PAGINAS.

            if (typeof doc.putTotalPages === 'function') {
                doc.putTotalPages(totalPagesExp);
            }

            var string = doc.output('datauristring');
            var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>"

            var x = window.open();

            x.document.open();

            x.document.write(iframe);

            x.document.close();

            //doc.save('Impresion.pdf'); //Para descargar directamente.

        }
    </script>
}