


<div class="row">

    <img src="~/img/LogoHorizontalSinFondo.png" class="CentrarImagen" /> 
</div>
    <div class="videohome videohome600 float-right">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BCEVNalk59Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>





   
